/* src/components/BookCard.css */

.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 220px; /* Ensures uniform width */
}


.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.book-cover {
  width: 100%;  /* Ensures the image fits within the card */
  height: auto; /* Keeps the aspect ratio */
  object-fit: cover; /* Ensures the image covers the space properly */
  max-width: 200px; /* Adjust as needed */
  display: block; /* Ensures visibility */
}


.book-details {
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.book-title {
  margin: 0;
  font-size: 1.2em;
  color: #333;
  flex-grow: 1;
}

.book-author {
  margin: 8px 0;
  color: #555;
  font-size: 1em;
}

.book-description {
  color: #666;
  font-size: 0.9em;
}
